.time {
  background-color: #f2f2f2;
  height: 429px;
}

.time-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.time__desc {
  .time__heading {
    max-width: 298px;
    font-size: 30px;
    line-height: 30px;
  }

  .time__text {
    max-width: 534px;
    font-size: 18px;
  }

  .time__link {
    color: @red;
  }
}
